<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Register Form</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              [formControl]="username"
            />
            <label for="username">Username:</label>
            <div *ngIf="username.touched && username.invalid">
              <p class="alert alert-danger">
                Usename field is having following problem -
              </p>
              <div *ngIf="username.hasError('required')">
                <p class="alert alert-danger">Username field is mandatory.</p>
              </div>
              <div *ngIf="username.hasError('email')">
                <p class="alert alert-danger">
                  Username field must have proper email format.
                </p>
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              [formControl]="password"
            />
            <label for="password">Password:</label>

            <div *ngIf="password.touched && password.invalid">
              <p class="alert alert-danger">
                Password field is having following problem -
              </p>
              <div *ngIf="password.hasError('required')">
                <p class="alert alert-danger">Password field is mandatory.</p>
              </div>
              <div *ngIf="password.hasError('minlength')">
                <p class="alert alert-danger">
                  Password field must have 6 characters at least.
                </p>
              </div>
              <div *ngIf="password.hasError('hasExcalamationError')">
                <p class="alert alert-danger">
                  Password field must have exclamation sign in it.
                </p>
              </div>
            </div>
          </div>

          <!-- confirm password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="cnfPassword"
              id="cnfPassword"
              placeholder=""
              [formControl]="cnfPassword"
            />
            <label for="cnfPassword">Confirm Password:</label>

            <div *ngIf="cnfPassword.touched && cnfPassword.invalid">
              <p class="alert alert-danger">
                Confirm Password field is having following problem -
              </p>
              <div *ngIf="cnfPassword.hasError('required')">
                <p class="alert alert-danger">
                  Confirm Password field is mandatory.
                </p>
              </div>
              <div *ngIf="cnfPassword.hasError('confirmPasswordError')">
                <p class="alert alert-danger">
                  Confirm Password field must match with password field.
                </p>
              </div>
            </div>
          </div>

          <!-- hobbies -->
          <button class="btn btn-secondary mb-3" (click)="addHobby()">
            Add Hobby
          </button>

          <div formArrayName="hobbies" class="mb-3">
            <div *ngFor="let hobby of hobbies.controls; index as i">
              <div [formGroupName]="i">
                <div class="row">
                  <!-- name -->
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="hobby name"
                      formControlName="name"
                    />
                  </div>
                  <!-- exp -->
                  <div class="col">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="years of exp"
                      formControlName="exp"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- buttons - register / reset -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  class="btn btn-success"
                  type="submit"
                  [disabled]="!registrationForm.valid"
                >
                  Register
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
