<h1 class="text-center">My Expenses</h1>

<button (click)="showForm = !showForm" class="btn btn-secondary mb-4">
  {{ showForm ? "Hide" : "Show" }} Form
</button>

<div *ngIf="!selectedExpense">
  <app-expense-form
    (childFormEvent)="onCloseForm()"
    *ngIf="showForm"
    (cancelEvent)="showForm = false"
  ></app-expense-form>
</div>

<div *ngIf="selectedExpense">
  <app-expense-form
    (childFormEvent)="onCloseForm()"
    *ngIf="showForm"
    [expense]="selectedExpense"
    (cancelEvent)="showForm = false"
  ></app-expense-form>
</div>

<div class="row">
  <div class="col-4" *ngFor="let expense of expenses">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">{{ expense.title | uppercase }}</h4>
      </div>
      <div class="card-body">
        <p>Amount : {{ expense.amount | currency : "INR" }}</p>
        <p>Created At : {{ expense.createdAt | date : "dd/MM/yyyy" }}</p>
        <div class="float-end">
          <button
            class="btn btn-outline-success btn-sm"
            (click)="onEdit(expense)"
          >
            Edit
          </button>

          <button
            class="btn btn-outline-danger btn-sm"
            (click)="onDelete(expense.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
