<!-- ngSwitch -->

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" (click)="tab = 1">1</a></li>
  <li class="nav-item"><a class="nav-link" (click)="tab = 2">2</a></li>
  <li class="nav-item"><a class="nav-link" (click)="tab = 3">3</a></li>
</ul>

<div [ngSwitch]="tab">
  <div *ngSwitchCase="1">Output 1</div>
  <div *ngSwitchCase="2">Output 2</div>
  <div *ngSwitchCase="3">Output 3</div>
  <div *ngSwitchDefault>Default Output</div>
</div>

<br />

<!-- *ngFor -->

<table class="table table-stripped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Availability</th>
      <th>Even</th>
      <th>First El</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let product of products;
        index as i;
        even as isEven;
        odd as isOdd;
        first as isFirst;
        last as isLast
      "
    >
      <td [ngClass]="{ 'my-border': isEven }">{{ i + 1 }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.price }}</td>
      <!-- <td>{{ product.isAvailable ? product.qty : "Unavailable" }}</td> -->
      <td>
        <span *ngIf="product.isAvailable; else productNotAvailable">{{
          product.qty
        }}</span>
      </td>
      <td>{{ isEven }}</td>
      <td>{{ isFirst }}</td>
      <ng-template #productNotAvailable>
        <span>Not Available</span>
      </ng-template>
    </tr>
  </tbody>
</table>

<!-- ngStyle -->
<button class="btn btn-primary" (click)="onChangeStyle()">Change Style</button>
<h1
  [ngStyle]="dynamicStyle"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  Product Name : {{ products[0].title }}
</h1>

<!-- ngClass -->

<h2
  [ngClass]="dynamicClasses"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  Price : ${{ products[0].price }}
</h2>
