<div class="container">
  <app-header class="mb-4"></app-header>
  <br />

  <app-standalone-example></app-standalone-example>

  <app-i-am-eager></app-i-am-eager>
  <hr />

  <router-outlet></router-outlet>

  <!-- <button class="btn btn-primary" (click)="toggle = !toggle">
    {{ !toggle ? "Show" : "Hide" }} Component
  </button>

  <app-life-cycle [title]="title" *ngIf="toggle"></app-life-cycle> -->

  <!-- <app-directives-example></app-directives-example> -->

  <!-- <app-pipe-example></app-pipe-example> -->

  <!-- <app-login></app-login> -->

  <!-- <app-register></app-register> -->

  <!-- <app-comp-a></app-comp-a>

  <br />
  <hr />

  <app-comp-b></app-comp-b> -->

  <!-- <app-observable-example></app-observable-example> -->

  <!-- <app-expenses></app-expenses> -->

  <!-- <app-users></app-users> -->
</div>
