.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  z-index: 50;
}

.my-model {
  position: fixed;
  left: 20vw;
  top: 15vh;
  width: 60vw;
  background-color: #fff;
  z-index: 70;
  padding: 24px;
}
