.ng-dirty.ng-invalid[name="email"] {
  border-bottom: 3px red solid;
}

.ng-dirty.ng-valid[name="email"] {
  border-bottom: 3px green solid;
}

.ng-dirty.ng-invalid[name="password"] {
  border-bottom: 3px red solid;
}

.ng-dirty.ng-valid[name="password"] {
  border-bottom: 3px green solid;
}
