<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Login Form</h1>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onSubmitForm(loginForm)">
          <!-- email -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder=""
              ngModel
              required
              email
            />
            <label for="email">Email:</label>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              ngModel
              required
              minlength="6"
            />
            <label for="password">Password:</label>
          </div>

          <!-- buttons - login / reset -->

          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!loginForm.valid"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary" (click)="loginForm.reset()">
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
